@import "tailwindcss";

/* Used to add custom styles that are not covered by Tailwind */
@import './custom.css';

:root {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Figtree", "Figtree Fallback";
}
@layer components {
  .get-started-btn {
    @apply bg-[#FC004E] text-white rounded w-full h-[40px] uppercase
  }
  .top-bar{
    @apply w-full bg-gradient-to-r from-[#FC004E] via-[#A34C85] to-[#10CBE0] text-white
  }
}